<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    drive_eta
                </i>
                Estacionamento
            </a>
            <a mat-list-item routerLink="/relatorio">
                <i class="material-icons">
                    assignment
                </i>
                 Relatório
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content" >
       <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>